﻿@model ChangingPasswordViewModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
  @Html.AntiForgeryToken()
  <h4>@Res.ChangePasswordForm</h4>
  <hr />
  @Html.ValidationSummary()
  <div class="form-group">
    <div class="col-md-10">
      @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control", placeholder=Res.CurrentPassword})
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control", placeholder=Res.NewPassword})
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Res.ConfirmNewPassword })
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      <input type="submit" value="@Res.ChangePassword" class="btn btn-default" />
    </div>
  </div>
}