﻿@model CustomerCardViewModel

@using (Html.BeginForm("ManageCustomerInfo", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
  @Html.AntiForgeryToken()
  @Html.HiddenFor(m => m.UserName)

  <h4>@Res.UpdateInfo</h4>
  <hr />

  <div class="form-group">
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = Res.Name })
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.Street, new { @class = "form-control", placeholder = Res.Surname })
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.House, new { @class = "form-control", placeholder = Res.Surname })
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      <input type="submit" value="@Res.Update" class="btn btn-default" />
    </div>
  </div>
}