﻿@model ManageEmployeeCardViewModel

@using (Html.BeginForm("ManageEmployeeInfo", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
  @Html.AntiForgeryToken()
  @Html.HiddenFor(m => m.UserName)
  
  <h4>@Res.UpdateInfo</h4>
  <hr />

  <div class="form-group">
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = Res.Name})
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      @Html.TextBoxFor(m => m.Surname, new {@class = "form-control", placeholder = Res.Surname})
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      @Html.DropDownListFor(m => m.ManagerUserName, Model.AvailableManagers, new { @class = "form-control" })
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-10">
      <input type="submit" value="@Res.Update" class="btn btn-default" />
    </div>
  </div>
}