﻿@model LoginViewModel

@{
  ViewBag.Title = Res.LoginTitle;
}

<h2>@ViewBag.Title.</h2>
<div class="row">
  <div class="col-md-8">
    <section id="loginForm">
      @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
      {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
          @Html.LabelFor(m => m.UserName, new {@class = "col-md-2 control-label"})
          <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.UserName)
          </div>
        </div>
        <div class="form-group">
          @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
          <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Password)
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
              @Html.CheckBoxFor(m => m.RememberMe)
              @Html.LabelFor(m => m.RememberMe)
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Res.Login" class="btn btn-default" />
          </div>
        </div>
      }
    </section>

  </div>
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}