﻿@model ManageUserViewModel

@helper RenderManagingInfo() {
  if (Model.ManagingType == ManagingType.UpdatingEmployeeInfo) {
    @Html.Partial("_manageEmployeeInfo", Model.ManagingEmployeeModel)
  }
  else {
    @Html.Partial("_manageCustomerInfo", Model.ManagingCustomerModel)
  }
}

@{
  ViewBag.Title = Res.ManageAccount;
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}

@{
  const string colClass = "col-md-6";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<p>@Res.YoureLoggedAs<strong>@User.Identity.GetUserName()</strong>.</p>
<div class="row">
  <div class="@colClass">
    @Html.Partial("_changePassword", Model.ChangingPasswordModel)
  </div>
  <div class="@colClass">
    @RenderManagingInfo()
  </div>
</div>