﻿@model RegisterViewModel

@{
  ViewBag.Title = Res.Register;
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval");
  <script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
      $("#IsCustomer").val(e.target.id == "customerTab");
    })
  </script>
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
  @Html.AntiForgeryToken()
  @Html.HiddenFor(m => m.IsCustomer, new {id = "IsCustomer", Value = "true"})

  <h4>@Res.CreateNewAccount</h4>
  <hr />
  @Html.ValidationSummary()
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-5">
        <div class="form-group">
          <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", placeholder = Res.UserName})
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control", placeholder = Res.Email})
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new {@class = "form-control", placeholder = Res.Password})
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = Res.ConfirmPassword})
          </div>
        </div>
      </div>
      <div class="col-xs-5">
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#customer" id="customerTab" data-toggle="tab">@Res.Customer</a></li>
          <li><a href="#employee" data-toggle="tab">@Res.Employee</a></li>
        </ul>
        <div class="tab-content table-bordered" style="border-top: none">
          <div class="tab-pane active" style="padding: 10px" id="customer">
            <div class="form-group">
              <div class="col-md-10">
                @Html.TextBoxFor(m => m.CustomerCard.CompanyName, new {@class = "form-control", placeholder = Res.Company})
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10">
                @Html.TextBoxFor(m => m.CustomerCard.Street, new {@class = "form-control", placeholder = Res.Street})
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10">
                @Html.TextBoxFor(m => m.CustomerCard.House, new {@class = "form-control", placeholder = Res.House})
              </div>
            </div>
          </div>
          <div class="tab-pane" id="employee" style="padding: 10px">
            <div class="form-group">
              <div class="col-md-10">
                @Html.TextBoxFor(m => m.EmployeeCard.Name, new {@class = "form-control", placeholder = Res.Name})
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10">
                @Html.TextBoxFor(m => m.EmployeeCard.Surname, new {@class = "form-control", placeholder = Res.Surname})
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10">
        <input type="submit" class="btn btn-default" value="@Res.Register" />
      </div>
    </div>
  </div>
}