﻿  @using (Html.BeginForm("ChangeLocale", "Culture", FormMethod.Post, new {id = "cultureForm", @class = "navbar-right"}))
  {
    @Html.Hidden("returnUrl", Request.RawUrl)

    bool isRussian = (string) Session["culture"] == "ru-RU";
    <a href="javascript:document.getElementById('cultureForm').submit()">@(isRussian ? "English" : "Русский")</a>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="javascript:document.getElementById('cultureForm').submit()">@(isRussian ? "English" : "Русский")</a>
      </li>
    </ul>
  }