﻿@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
  {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
      <li>
        @Html.ActionLink(Res.Hello + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new {title = "Manage"})
      </li>
      <li><a href="javascript:document.getElementById('logoutForm').submit()">@Res.LogOff</a></li>
    </ul>
  }
}
else
{
  <ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink(Res.Register, "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
    <li>@Html.ActionLink(Res.Login, "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
  </ul>
}