﻿@model AddOrderViewModel

<script>
  $("#add-order-btn").click(function () {
    if (!validateAddingOrderForm()) {
      return;
    }

    var order = {
      customerUserName: "@Model.CustomerUserName",
      managerUserName: $("#selected-manager").val(),
      description: $("#description-area").val(),
    };

    addOrder(order);
  });
</script>

@if (Model.AvailableManagers.Any()) {
  <tr>
    <td>
      @Html.TextAreaFor(m => m.Description, 1, 20, new {@class = "form-control", id = "description-area"})
    </td>
    <td>
      <div class="row">
        <div class="col-md-8">
          @Html.DropDownListFor(m => m.ManagerUserName, Model.AvailableManagers, new {@class = "form-control", id = "selected-manager"})
        </div>
        <div class="col-md-4">
          <button type="submit" id="add-order-btn" class="btn btn-default">@Res.Add</button>
        </div>
      </div>
    </td>
  </tr>
}
else {
  <p>@Res.NoManagersAvailable</p>
}