﻿@model CustomerOrdersViewModel

<script>
  $('[data-class="slaves-popover"]').popover();
</script>

<table class="table">
  <thead>
    <tr>
      <th>@Res.Description</th>
      <th>@Res.Manager</th>
    </tr>
  </thead>
  <tbody id="orders_table">
    @foreach (var order in Model.Orders) {
      MvcHtmlString slavesList = Html.Action("ManagerSlavesList", "Home", new {order.ManagerUserName});

      <tr>
        <td>@order.Description</td>
        <td>
          <a href="#" data-class="slaves-popover" data-placement="right" data-toggle="popover" 
             data-title="@Res.Slaves" data-content="@slavesList" data-html="true">
            @order.ManagerSurname @order.ManagerName
          </a>
        </td>
      </tr>
    }

    @if (Model.CustomerUserName == User.Identity.Name) {
      Html.RenderAction("AddOrderForm");
    }
  </tbody>
</table>