﻿@model IEnumerable<CustomerCardViewModel>

@{
  ViewBag.Title = Res.Customers;
}

@section scripts {
  @Scripts.Render("~/Assets/scripts/orders.js")
}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2>@Res.Customers</h2>
      <table class="table table-hover" >
        <thead>
          <tr>
            <th>@Res.Company</th>
            <th>@Res.Address</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var card in Model) {
            <tr data-class="customer-row" data-username="@card.UserName" class="cursor-pointer">
              <td>@card.CompanyName</td>
              <td>@card.Street, @card.House</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <h2>@Res.Orders</h2>
      <div id="orders-container" class="hidden">
        @*customersOrdersTable will be loaded here*@
      </div>
    </div>
  </div>
</div>